
Volume.csv
Mean-depth.csv
Max-depth.csv
Length.csv
laghi_Scozia.txt
crude-oil-prices.csv
Area.csv
.ipynb_checkpoints/compito_1-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/compito_2-checkpoint.ipynb
.ipynb_checkpoints/compito_2-checkpoint.ipynb
.ipynb_checkpoints/compito_2-checkpoint.ipynb
.ipynb_checkpoints/compito_2-checkpoint.ipynb
