
Volume.csv
Mean-depth.csv
Max-depth.csv
Length.csv
laghi_Scozia.txt
crude-oil-prices.csv
Area.csv

.ipynb_checkpoints/compito_1 - deprecated-checkpoint.ipynb
.ipynb_checkpoints/compito_7-checkpoint.ipynb
